input {
    warp-mouse-to-focus mode="center-xy"
    focus-follows-mouse

    keyboard {
        xkb {
            layout "pt_BR.UTF-8"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        // natural-scroll
    }
}
