binds {
    Mod+B hotkey-overlay-title="Browser" { spawn "zen-beta"; }
    Mod+O hotkey-overlay-title="Obsidian" { spawn "obsidian"; }

    Mod+T hotkey-overlay-title="Todoist" { spawn "zen-beta" "https://app.todoist.com/app/today#"; }
    Mod+M hotkey-overlay-title="Spotify" { spawn "zen-beta" "https://open.spotify.com"; }
    Mod+C hotkey-overlay-title="WhatsApp" { spawn "zen-beta" "https://web.whatsapp.com/"; }
    Mod+Y hotkey-overlay-title="YouTube" { spawn "zen-beta" "https://www.youtube.com/"; }
    Mod+D hotkey-overlay-title="Drive" { spawn "zen-beta" "https://drive.google.com/drive/u/0/my-drive"; }
}
