binds {
    Mod+Return hotkey-overlay-title="Terminal" { spawn "ghostty"; }
    Mod+P { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+Space { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Alt+Space { spawn-sh "noctalia msg panel-open launcher /clip"; }
    Mod+Ctrl+Space { spawn-sh "noctalia msg panel-open launcher /emo"; }

    Mod+E hotkey-overlay-title="Arquivos" { spawn "nautilus"; }

    Mod+Q repeat=false { close-window; }
    Mod+F { maximize-column; }
    Mod+W { spawn-sh "noctalia msg panel-toggle wallpaper"; }
    Mod+Shift+L hotkey-overlay-title="Bloqueio de Tela" { spawn-sh "noctalia msg session lock"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print {screenshot-window; }
    
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
}
